################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/loopback-component-passport/v15
/loopback-component-passport.sln
/loopback-component-passport.njsproj
/.vs/config
